@charset "UTF-8";
body {
  font-family: "PF Din Text Comp Pro";
  box-sizing: border-box;
}

.wrap {
  max-width: 1628px;
  margin: 0 auto;
  padding: 0 36px;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
 * Сброс стилей
 **/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

:root {
  --font-family: "PF Din Text Comp Pro", sans-serif;
  --second-family: "PF Din Text Cond Pro", sans-serif;
}

@font-face {
  font-family: "PF Din Text Comp Pro";
  src: url(../assets/fonts/pfdintextcomppro-regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url(../assets/fonts/PFDinTextCondPro-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
header {
  margin-top: 30px;
  display: flex;
  height: 53px;
  align-items: center;
  overflow-x: clip;
  margin-bottom: 53px;
}
header .header__logo {
  max-width: 317px;
  min-width: 70px;
  flex: 1;
  font-family: var(--font-family);
  font-size: 24px;
  padding-left: 15px;
}
header .header__right {
  background-color: #614d49;
  flex: 1;
  display: flex;
  height: 53px;
  position: relative;
}
header .header__right::before {
  content: "";
  background-color: #614d49;
  position: absolute;
  left: -10px;
  z-index: -2;
  width: 20px;
  height: 100%;
  transform: skewX(-20deg);
}
header .header__list {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: visible;
  height: 53px;
}
header .header__link {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  padding: 18px 0;
}
header .header__link:hover {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7c6e6b;
}
header .header__item {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  text-align: center;
  position: relative;
  min-width: 80px;
  max-width: 150px;
}
header .header__item:hover {
  background-color: #e8e1e0;
  color: #7c6e6b;
  transform: skewX(-20deg);
}
header .header__item:hover .header__link {
  transform: skewX(20deg);
}
header .header__item:hover .header__submenu {
  display: flex;
}
header .header__item:hover .plug {
  position: absolute;
  top: 0;
  left: -10px;
  width: 20px;
  height: 100%;
  z-index: 2;
  background-color: #e8e1e0;
}
header .header__submenu {
  display: none;
  position: absolute;
  background-color: #311311;
  bottom: 0;
  transform: translateY(100%);
  left: -10px;
  height: 53px;
  z-index: 10;
  background-color: #e8e1e0;
  color: #7c6e6b;
}
header .header__submenu .header__submenu-item {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 30px;
}
header .header__submenu .link--red {
  width: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  background: #b21f24;
  transform: skewX(0deg);
}
header .header__submenu .link--red span {
  color: #fff;
  transform: skewX(20deg);
}
header .header__submenu a {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #503d3a;
  white-space: nowrap;
  transform: skewX(20deg);
}
header .header__submenu .gray-line {
  width: 1000px;
  height: 100%;
}
header .header__link-btn {
  border-radius: 4px;
  flex: 1;
  max-width: 201px;
  min-width: 130px;
  height: 43px;
  background: #311311;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}
header .header__link-item {
  display: flex;
  align-items: center;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}
header .header__link-lang {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d3c8bb;
}

.header__link-search {
  width: 14px;
}

.header__logo a {
  color: #311311;
}

.html-pad {
  padding-right: 22px;
  overflow: hidden;
}

.header__burger {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
  width: 16px;
  height: 13px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  z-index: 15;
  position: relative;
  display: none;
  cursor: pointer;
}
.header__burger div {
  height: 1.5px;
  width: 100%;
  background-color: #ffffff;
  transition: transform 0.2s ease-in-out;
}

.burger__clicked div:nth-child(1) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.burger__clicked div:nth-child(2) {
  display: none;
}

.burger__clicked div:nth-child(3) {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  z-index: 3;
}

.header__links {
  display: flex;
  padding-right: 15px;
  justify-content: space-between;
  max-width: 400px;
  gap: 10px;
  flex: 1;
  align-items: center;
}

.burger__menu {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: #503d3a;
  width: 90%;
  height: 100%;
  z-index: 12;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

.burger__menu--active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.burger__list {
  margin: auto;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.video-container {
  position: relative;
}

.video-container video {
  display: block;
  width: 100%;
  height: 75vh;
  object-fit: cover;
  object-position: bottom;
  z-index: -1;
}

.btn-container {
  height: 125px;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  background-color: #f4f4f2;
  position: absolute;
  bottom: 0;
  right: 0;
}

.video-container .btn-contact,
.features .btn-contact {
  height: 93px;
}

.btn-contact {
  width: 316px;
  background-color: #b21f24;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-contact button {
  display: flex;
  gap: 40px;
}
v .btn-contact::after {
  content: "";
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: white;
  height: 35px;
}
.btn-contact span {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #f4f4f2;
}

.advantages {
  background: #f2f2f2;
  margin-top: 130px;
  padding: 100px 0;
}

.advantages__info {
  max-width: 1180px;
}

.heading p {
  padding-top: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  color: #aa927a;
}

.advantages__title-main {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 66px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #614d49;
  width: 100%;
}
.advantages__title-main h1 {
  position: relative;
}
.advantages__title-main span {
  color: #b21f24;
}
.advantages__title-main .line::after {
  content: "";
  width: 50%;
  height: 2px;
  right: 0;
  top: 50%;
  position: absolute;
  background-color: #aa927a;
}
.advantages__title-main .devider {
  color: #614d49;
}

.advantages__item {
  margin-top: 90px;
  display: flex;
  max-height: 475px;
}
.advantages__item .advantages__title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #311311;
  padding-bottom: 16px;
}
.advantages__item .advantages__def {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 126%;
  color: #7c6e6b;
}

.advantages__img-container {
  position: relative;
  width: 60%;
  flex: 1;
}
.advantages__img-container .btn-container {
  height: 60px;
}

.advantages__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.btn-contact {
  height: 61px;
  width: 278px;
}
.btn-contact::after {
  display: none;
}

.advantages__desk {
  width: 40%;
  padding-left: 40px;
  padding-bottom: 40px;
}

.btn-container {
  cursor: pointer;
}
.btn-container img {
  transition: all 0.2s ease-in-out;
}
.btn-container:hover img {
  padding-left: 10px;
}

.advantages__item--reverse {
  flex-direction: row-reverse;
}
.advantages__item--reverse .advantages__desk {
  padding-left: 0;
  padding-right: 40px;
}

.features {
  background: #d9d9d9;
  padding: 100px 0;
}
.features .features__container {
  padding: 0 35px;
  background-image: url("../assets/img/img3.jpg");
  height: 57vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  position: relative;
}
.features .features__title {
  padding-top: 67px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 80px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}
.features .features__desk {
  padding-top: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  color: #fff;
  max-width: 580px;
}

.contact {
  margin-top: 130px;
}

.contact__container {
  box-sizing: border-box;
  padding: 86px 76px;
  background: rgb(2, 0, 36);
  width: 100%;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(191, 173, 155) 0%, rgb(255, 248, 240) 76%, rgb(200, 185, 169) 100%);
  height: 383px;
}
.contact__container .contact__info {
  max-width: 650px;
}
.contact__container .contact__title {
  font-family: var(--second-family);
  padding-bottom: 36px;
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}

.contact__btn {
  width: 249px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: #b21f24;
  transform: skew(-20deg);
  cursor: pointer;
}
.contact__btn img {
  transition: all 0.2s ease-in-out;
}
.contact__btn span {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.contact__btn:hover img {
  padding-left: 10px;
}
.contact__btn * {
  transform: skew(20deg);
}

.footer {
  margin-top: 130px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__nav {
  border-top: 4px solid #ebe8e5;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
.footer__nav .footer__heading {
  max-width: 200px;
  flex: 1;
}
.footer__nav .footer__list--pad li {
  padding-left: 14px;
}
.footer__nav h4 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #311311;
  padding-bottom: 20px;
  border-bottom: 2px solid #d3c8bb;
}
.footer__nav .padding {
  padding-bottom: 20px;
}
.footer__nav h5 {
  padding-top: 20px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #311311;
  padding-bottom: 13px;
}
.footer__nav .footer__list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.footer__nav .footer__list a {
  transition: all 0.2s ease-in-out;
}
.footer__nav .footer__list a:hover {
  color: #4f4235;
}
.footer__nav .footer__list a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 126%;
  color: #aa927a;
  transition: all 0.2s ease-in-out;
}
.footer__nav .footer__adress {
  max-width: 406px;
  flex: 1;
  height: 369px;
  min-width: none;
  background: #f2f2f2;
  padding: 43px 56px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #311311;
}
.footer__nav .footer__adress .footer__adress-info {
  position: relative;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 126%;
  color: #311311;
}
.footer__nav .footer__adress .footer__loc {
  display: block;
  position: absolute;
  height: 25px;
  top: 0;
  left: -30px;
}
.footer__nav .footer__adress .footer__adress-number {
  font-weight: 600;
}
.footer__nav .footer__list--red a:hover {
  background: #b21f24;
  padding: 1px 10px;
  color: #fff;
}

.footer__bureau {
  padding-top: 200px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 126%;
  padding-bottom: 17px;
  color: #614d49;
}
.footer__bureau span {
  color: #b21f24;
}

.form-container {
  display: none;
  position: fixed;
  max-height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  z-index: 10;
}

.form__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 18px;
  height: 18px;
}

.form_input-file {
  display: none;
}

.form__doc {
  display: none;
  padding-right: 10px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
}
.form .privacy-policy {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  color: #614d49;
}
.form .privacy-policy span {
  text-decoration: underline;
}
.form .form__btn {
  background: #cfcfcf;
  width: 175px;
  height: 44px;
}
.form input::placeholder,
.form textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #614d49;
  padding: 0;
  margin: 0;
}

.form-container h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 127%;
  color: #311311;
}

.form-container .form__btn:hover {
  background-color: #b21f24;
}

.form__file {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #614d49;
  border-bottom: 1px solid #614d49;
  padding-bottom: 15px;
}
.form__file .file-info {
  flex: 1;
}

.form__project {
  resize: none;
  height: 24px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

.form__name,
.form__email,
.form__phone,
.form__project {
  border: none;
  border-bottom: 1px solid #614d49;
  padding-bottom: 15px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #614d49;
}

.form__block {
  display: block;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1024px) {
  .advantages__title-main h1 {
    font-size: 44px;
    font-weight: 700;
  }
  .heading .advantages__info {
    font-size: 16px;
    max-width: 670px;
  }
  .contact__title h3 {
    font-size: 47px;
  }
  .btn-contact span {
    font-size: 12px;
  }
  .btn-contact {
    width: 200px;
    height: 55px;
  }
  .video-container .btn-contact,
  .features .btn-contact {
    height: 55px;
  }
  .btn-container {
    height: 90px;
  }
  .advantages__img-container .btn-container {
    height: 55px;
  }
  .btn-contact button {
    gap: 20px;
  }
  .features__title {
    font-size: 47px;
  }
  .features .features__desk {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 126%;
    color: #cebdb9;
  }
  .contact__btn {
    width: 195px;
    height: 44px;
  }
  .footer__nav .footer__adress {
    flex: 1;
    max-width: 100%;
    height: auto;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
  }
  .contact {
    margin-top: 100px;
  }
  .footer {
    margin-top: 100px;
  }
  .wrap {
    padding: 0 30px;
  }
}
@media (max-width: 780px) {
  header .header__list,
  header .header__link-item,
  .header__link-lang {
    display: none;
  }
  .form {
    padding: 15px;
    gap: 20px;
  }
  .form-container {
    width: 90%;
  }
  .header__right {
    flex: 1;
    justify-content: flex-end;
  }
  .header .header__logo {
    flex: 0;
    min-width: 120px;
  }
  .header__links {
    justify-content: flex-end;
    gap: 0;
    padding-left: 10px;
  }
  .header__links .header__link-btn,
  .header__links .header__link-search {
    margin-right: 23px;
  }
  .html-pad {
    padding-right: 0;
  }
  .footer__nav .footer__adress {
    flex-direction: column;
    min-width: 100%;
  }
  .header__burger {
    display: flex;
  }
  header .header__link-btn {
    font-size: 12px;
    height: 38px;
    max-width: 130px;
    min-width: 110px;
    border-radius: 4px;
  }
  .btn-container {
    height: auto;
  }
  .advantages,
  .features,
  .contact,
  .footer {
    margin-top: 0px;
    padding: 60px 0;
  }
  .advantages__item .advantages__title {
    font-size: 20px;
    font-weight: 700;
  }
  .features {
    padding: 0;
  }
  .footer {
    padding: 0;
  }
  .footer__contacts {
    flex-direction: row;
  }
  .footer__bureau {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
@media (max-width: 640px) {
  .features .features__title {
    font-size: 40px;
  }
  .footer__nav {
    gap: 25px;
  }
  .advantages__title-main .line::after {
    width: calc(100% - 280px);
  }
  .devider {
    display: block;
    max-width: 288px;
  }
  .advantages p {
    font-size: 16px;
  }
  .advantages__item {
    margin-top: 40px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    max-height: none;
  }
  .advantages__img-container,
  .advantages__desk {
    width: auto;
    padding: 0;
  }
  .advantages__img-container {
    order: 1;
    flex: 1;
  }
  .advantages__desk {
    padding-bottom: 40px;
  }
  .wrap {
    padding: 0 12px;
  }
  .contact__container {
    padding: 40px 12px;
  }
  .contact__container .contact__btn {
    margin-left: 5px;
  }
  .contact__title h3 {
    font-size: 32px;
  }
}
@media (max-width: 500px) {
  .footer__nav {
    flex-direction: column;
  }
  .footer__nav .footer__adress {
    align-items: flex-start;
    padding: 20px;
  }
  .footer__nav .footer__adress .footer__loc {
    left: 0;
  }
  .footer__nav .footer__adress .footer__adress-info {
    padding-left: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
