body {
  font-family: "PF Din Text Comp Pro";
  box-sizing: border-box;
}

.wrap {
  max-width: 1628px;
  margin: 0 auto;
  padding: 0 36px;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
