@font-face {
  font-family: "PF Din Text Comp Pro";
  src: url(../assets/fonts/pfdintextcomppro-regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url(../assets/fonts/PFDinTextCondPro-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
