.features {
  background: #d9d9d9;
  padding: 100px 0;
  .features__container {
    padding: 0 35px;
    background-image: url("../assets/img/img3.jpg");
    height: 57vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    position: relative;
  }

  .features__title {
    padding-top: 67px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 80px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
  }
  .features__desk {
    padding-top: 40px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    color: #fff;
    max-width: 580px;
  }
}
